@use '../utilities/' as *;

.card {
    width: 350px;
    height: 374px;
    background-color: white;
    font-family: $Kumbh-Sans;
    @include border-radius(rem(13));

    &-head {
        height: 285px;
        padding-top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url('../../../images/bg-pattern-card.svg');
        background-repeat: no-repeat;
        border-radius: inherit;

        &-img {
            @include border-radius(50%);
            @include border-solid(5px, white);
        }

        &-name {
            margin-bottom: 0;
            font-size: rem(18);

            & > span{
                font-weight: normal;
            }
        }

        & > p {
            margin-top: 10px;
        }
    }

    &-stats {
        text-align: center;
        display: flex;
        justify-content: space-around;
        border-top: 1px solid $Dark-gray;

        &-count {
            font-size: rem(18);
            margin-bottom: 5px;
        }

        & > div > p {
            font-size: rem(13);
            margin: 0 0 0 0;
        }
    }
}